<div id="root"></div>

<% dog_1 = asset_path 'labrador_retrievers.jpg' %>
<% dog_2 = asset_path 'bulldog_puppy.jpg' %>
<% dog_3 = asset_path 'mixed_breed.jpg' %>

<%= content_tag :div,
  id: :"path_data",
  data: { 
    login: new_user_session_url, 
    signup: new_user_registration_url,
    images: [
      dog_1,
      dog_2,
      dog_3
    ]
  }.to_json do %>
<% end %>

<%= javascript_pack_tag 'index' %>
